@model IEnumerable<DataLibrary.Models.Post>

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>

<p>
    <a asp-action="Post">Create New</a>
</p>
@foreach (var item in Model)
{
    <div class="myPost">
        <p>@Html.DisplayFor(modelItem => item.Created) - @Html.DisplayFor(modelItem => item.Title)<p />
        <textarea class="">
            @Html.DisplayFor(modelItem => item.Content)
        </textarea>
    </div>
}