@model IEnumerable<DataLibrary.Models.User>

@{
    ViewData["Title"] = "View Users";
}

<h1>ViewUsers</h1>

<p>
    <a asp-action="SignUp">Sign Up</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NormalizedUserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
        </tr>
}
    </tbody>
</table>
